.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.signup-form-name, .signup-form-email, .signup-form-password {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.signup-form-name-field, .signup-form-email-field, .signup-form-password-field {
    width: 70%;
}

.signup-button {
    align-self: center;
    width: 80px;
}